<br>
<br>
<br>
<br>
<%# Form for Ingredient Search %>
<div class="d-flex">
<div class="greenbox">
  <div class="search-bar">
    <%= form_with url: new_user_meal_meal_ingredient_path, method: :get do %>
      <div class="form-search form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control-search string required",
          placeholder: "What do you need?"
        %>
        <%= button_tag(name: "", class: "search-button") do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <ul>
  <% @ingredients.first(15).each do |ingredient| %>
    <li>
    <%= simple_form_for([current_user, @meal, @meal_ingredient]) do |f| %>
      <%= f.hidden_field :ingredient_id, value: ingredient.id %>
      <%= f.submit ingredient.name, class: "add" %>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
<%# end of Form with results %>
<div class="greenbox">
  <ul>
    <% @list.each do |item| %>
      <li><%= item.name %>
      <%= link_to "Delete", meal_ingredient_path(@meal.meal_ingredients.where(ingredient_id: item).first), data: { turbo_method: :delete } %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Done", meal_path(@meal), class: "add-recipe-btn align-self-end" %>

</div>
</div>
