<br>
<br>
<br>
<br>
<%# Form for Ingredient Search %>
<h1 class="title-list">Select the ingredients for your recipe</h1>
<div class="d-flex">
<div class="greenbox">
  <div class="search-bar">
    <%= form_with url: new_user_meal_meal_ingredient_path, method: :get do %>
      <div class="form-search form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control-search string required",
          placeholder: "What do you need?"
        %>
        <%= button_tag(name: "", class: "search-button") do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <% @ingredients.first(15).each do |ingredient| %>
      <div class="row division">
        <%= simple_form_for([current_user, @meal, @meal_ingredient]) do |f| %>
          <%= f.hidden_field :ingredient_id, value: ingredient.id %>
          <%= f.submit ingredient.name, class: "ingredient-card" do %>
            <%= ingredient.name %>
          <% end %>
        <% end %>
        <i class="fa-solid fa-plus"></i>
      </div>
  <% end %>
</div>
<%# end of Form with results %>
<div class="greenbox">
  <div class="row align-items-center py-3 your-list">
      <h4 class="col">Your ingredients:</h4>
      <%= link_to "Done", meal_path(@meal), class: "add-ingredient-btn col-2" %>
  </div>
    <% @list.each do |item| %>
      <div class="ingredient-card">
        <div><%= item.name %></div>
        <%= link_to meal_ingredient_path(@meal.meal_ingredients.where(ingredient_id: item).first), data: { turbo_method: :delete }, class: "" do %>
          <i class="fa-solid fa-trash" ></i>
        <% end %>
      </div>
    <% end %>
  </ul>

</div>
</div>
