<div class="show-wrapper">
  <%# section one %>
  <div class="view-profile">
    <div class="img">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key %>
      <% end %>
    </div>
    <div class="info-name">
      <h1 style="color: black;"><%= @user.name %></h1>
      <p style="color: green;">211k followers</p>
      <p><%= @user.description %></p>
      <ul class="social-media-icon">
      <li class="list-inline-item">
        <%= link_to "#" do %>
          <%= image_tag 'instagram.png' %>
        <% end %>
      </li>
      <li class="list-inline-item">
        <%= link_to "#" do %>
          <%= image_tag 'facebook.png' %>
        <% end %>
      </li>
      <li class="list-inline-item">
        <%= link_to "#" do %>
          <%= image_tag 'youtube.png' %>
        <% end %>
      </li>
      </ul>
    </div>
    <div class="btn-follow">
      <button>Follow</button>
    </div>
  </div>

  <%# section 2 %>
  <div class="user-bio">
    <h3>About me...</h3>
    <p><%= @user.bio %></p>
  </div>

  <%# section 3 meal cards %>
  <div class="meals-list">
    <% @user.meals.each do |meal| %>
      <div class="meal">


        <div class="meal-img">
            <% if meal.photo.attached? %>
              <%= cl_image_tag meal.photo.key %>
            <% else %>
              <%= image_tag "angelica-echeverry-HhVTiioq9DY-unsplash.jpg" %>
            <% end %>
        </div>


        <div class="meal-content">
          <div class="d-flex justify-content-between">
            <div class="pt-4">
              <h2><%= link_to meal.name, meal_path(meal), class: "text-decoration-none" %></h2>

              <div class="meal-tags">
                <button>HIGH PROTEIN</button><button>VEGAN</button><button>LOW CARB</button>
              </div>
              <p class="description"><%= raw(meal.description).slice(0, 300) %>...</p>
            </div>
            <div>
              <%= simple_form_for([meal, @cart_item]) do |f| %>
                <%= f.hidden_field :amount, value: meal.servings %>
                <%= f.submit "Quick Add", class: "quick-add" %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
