<nav class="navbar fixed-top navbar-expand-sm navbar-lewagon sticky">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Logo_FoodBook.png", alt: "Home" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex">
        <% if user_signed_in? %>
          <li class="nav-item align-self-center">
            <%= link_to "Add Recipe", new_user_meal_path(current_user), class: "add-recipe-btn" %>
          </li>

          <li class="nav-item align-self-center">
            <%= link_to carts_path, class: "nav-link"  do %>
              <i class="fa-solid fa-cart-shopping"></i>
            <% end %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <%= link_to "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", 'data-bs-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false" do %>
            <%= image_tag "Andy.png", class: "avatar dropdown-toggle", alt: "User Avatar" %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <%= link_to "Edit Profile", edit_user_path(current_user), class: "dropdown-item" %>
              <a class="dropdown-item" data-turbo-method="delete" href="<%= destroy_user_session_path %>">Log out</a>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
