<div class="cart-form">
<div class="cart-header">
  <h1>Your Cart</h1>
  <div>
    <div class="cart-links">
      <%= link_to "Translate to shopping list", shoppinglist_carts_path, class: "translate-button", style: "text-decoration: none;" %> <br> <br>
      <%= link_to "Continue Shopping", root_path, class: "continue-link", style: "text-decoration: none;" %>
    </div>
  </div>
</div>
  <table>
    <tbody>
      <% @cart.each do |cart_item| %>
        <tr>
            <div class="meal">


              <div class="meal-img">
                  <% if cart_item.meal.photo.attached? %>
                    <%= cl_image_tag cart_item.meal.photo.key %>
                  <% else %>
                    <%= image_tag "angelica-echeverry-HhVTiioq9DY-unsplash.jpg" %>
                  <% end %>
              </div>


              <div class="meal-content">
                <div class="d-flex justify-content-between">
                  <div class="pt-4">
                    <h2><%= link_to cart_item.meal.name, meal_path(cart_item.meal), class: "text-decoration-none" %></h2>

                    <div class="meal-tags">
                      <button>HIGH PROTEIN</button><button>VEGAN</button><button>LOW CARB</button>
                    </div>
                    <p class="description"><%= raw(cart_item.meal.description).slice(0, 300) %>...</p>
                  </div>
                  <div class="cart-action">
                   <span>Servings: <%= cart_item.amount %></span>
                   <%= link_to cart_path(cart_item), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this Cart Item?" } do %>
                      <button class="button">
                      <span class="button__text">Delete</span>
                        <span class="button__icon">
                          <svg class="svg" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><title></title><path d="M112,112l20,320c.95,18.49,14.4,32,32,32H348c17.67,0,30.87-13.51,32-32l20-320" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><line style="stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" x1="80" x2="432" y1="112" y2="112"></line><path d="M192,112V72h0a23.93,23.93,0,0,1,24-24h80a23.93,23.93,0,0,1,24,24h0v40" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="256" x2="256" y1="176" y2="400"></line><line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="184" x2="192" y1="176" y2="400"></line><line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="328" x2="320" y1="176" y2="400"></line></svg>
                        </span>
                      </button>
                    <% end %>
                  </div>
                </div>
              </div>

            </div>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
