<br>
<br>
<br>
<br>
<div class="container p-3 mb-5 w-50">
  <h1 class="mb-4">Create a new recipe:</h1>
  <%= simple_form_for([current_user, @meal]) do |f| %>

    <div class="row my-3">
      <div class="col">
        <%= f.label :name, { class: "edit-form-label"} %><br>
        <%= f.text_field :name, class: "edit-form-input", placeholder: "Name of Recipe"%>
      </div>
    </div>
        <div class="row">
      <div class="col">
        <%= f.input :prep_time, input_html: { type: "number", class: "edit-form-input" }, placeholder: "Prep Time", label: "Prep Time (minutes)" %>
      </div>

      <div class="col">
        <%= f.label :servings, { class: "edit-form-label"} %><br>
        <%= f.input :servings, input_html: { type: "number" }, class: "edit-form-input", placeholder: "Servings", label: false %>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <%= f.label :category, { class: "edit-form-label"} %><br>
        <%= f.text_field :category, { class: "edit-form-input", placeholder: "Category" } %>
      </div>
    </div>


    <div class="row my-3">
      <div class="col">
        <%= f.input :description, class: "edit-form-input", as: :text, placeholder: "Description" %>
      </div>
    </div>

    <div class="row my-3">
      <div class="col">
        <%= f.input :instructions, as: :text, class: "edit-form-input", placeholder: "Instructions" %>
      </div>
    </div>



    <div class="row">
      <%= f.input :photo, as: :file %>
    </div>

    <div class="bottom-right">
        <%= f.submit "Next Step", class: "btn btn-success"%>
    </div>
  <% end %>
</div>
