<p><%= @meal.name %></p>
<p><%= @meal.description %></p>
<p><%= @meal.instructions %></p>

<% if @meal.photo.attached? %>
  <%= cl_image_tag @meal.photo.key %>
<% end %>


<%# if logged in you should have the option to edit the recipe %>
<%= link_to "Edit Meal", edit_meal_path(@meal) %>
